.navbar_container {
    display: flex;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.menu_icon {
    color: grey;
    min-height: 50%;
    width: 50px;
    cursor: pointer;
    transition: 300ms;
}

.menu_icon:hover {
    color: black;
}

.profile_photo_wrapper {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_photo {
    object-fit: cover;
    transform: translateZ(0px);
    image-rendering: optimizeQuality;
}

.logo {
    margin: 0 auto;
    color: black;
    font-family: 'Square Peg';
    font-size: 4vh;
    font-weight: 400;
}
